.RData
.RData
.Rhistory
Rplots
Rplots.pdf
wosis_latest
Wosis.Rproj
resources/
.Rproj.user/
.DS_Store
.DS_Store
.DS_Store
__*
sa_eco_13/
LAC-SOTER
*.tif
remapasdesuelo/
soil_profiles/
output/*
.vscode*
input_data* 
