.RData
.Rhistory
Rplots
Rplots.pdf
Wosis.Rproj
resources/
.Rproj.user/
.DS_Store
*.tif
output/*
.vscode*
__pycache*
input_data/country_borders
input_data/LAC-SOTER
input_data/sa_eco_l3
input_data/soilgrids
input_data/wosis_latest/*.dbf
input_data/wosis_latest/*.prj
input_data/wosis_latest/*.shp
input_data/wosis_latest/*.shx
input_data/wosis_latest/*.gpkg
input_data/zonas_suelo_uy
input_data/zonas_suelo_ar